XML_guenni/assignment2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
    
    <xs:element name="START">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="title" />
                <xs:element name="description" />                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
